# Ignore virtual environment
venv/
__pycache__/
*.pyc
.venv/

# Ignore logs and data files
logs/

# Ignore IDE/editor settings
.vscode/
.DS_Store

data_fetcher.py
requirements.txt

############################
